# backend/requirements.txt
fastapi
uvicorn
SQLAlchemy
python-dotenv
passlib
jose
requests
atlassian-python-api
google-api-python-client
tweepy
newsapi-python
plaid-python
beautifulsoup4
lxml
playwright
nest-asyncio
python-multipart
httpx
scrapy
sentence-transformers
openai
python-apt